li.active.prev a,li.active.next a{
  background-color: rgb(249, 249, 249)!important;
  border-color: rgb(224, 232, 235) !important;
  color: rgb(192, 192, 192)!important;
	
}

li.active.prev a i,li.active.next a i{text-shadow: none !important;}