@CHARSET "UTF-8";
#news {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #E1E1E1;
}
#news_title1,#notice_title1 {
	width: 100%;
	height: 45px;
}
#news_content,#notice_content {
	width: 650px;
	height: auto;
	padding: 15px;
}

#news_content ul {
	width: 100%;
	height: 100%;
}

#news_content ul li {
	width: 100%;
	height: 32px;
	line-height: 32px;
}

#news_type {
	width: 100px;
	padding-left: 20px;
	color: #0B2B4C;
	background: url("asset/images/item_icon.gif") no-repeat center left;
}

#news_title {
	width: 440px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#news_time {
	color: #666666;
}

.dotted {
	border-top: 1px dotted #BFBFBF;
}