@CHARSET "UTF-8";
h2,h3 {
	color: #0B2B4C;
}

#main_content1 {
	margin-top: 39px;
	margin-bottom: 10px;
	height: auto;
	border-bottom: 5px solid #E9E9E9;
}

#new_pic {
	
	height: 100%;
}

#pic_content {
	padding-left: 20px;
	padding-right: 20px;
	width: 37%;
	height: 100%;
}

#pic_content h2 {
	margin-top: 20px;
}

#pic_content h5 {
	color: #C6C6C6;
	margin-bottom: 20px;
}

#main_content2 {
	width:1000px;
	margin-top: 10px;
	height: auto;
	margin:0 auto;
}

#content_left {
	float:left;
	height: auto;
	width: 245px;
	
}
#content_center {
	float:left;
	height: auto;
	width: 490px;
	margin-left: 10px;
	margin-right: 10px;
}
#content_right{
	float:left;
	height: auto;
	width: 245px;
}

.news,.program {
	background-color:#ffffff;
	height: 260px;
	width: 100%;
	margin-bottom: 20px;
	border: 0px solid #E9E9E9;
}

#notice {
	height: 290px;
	width: 100%;
	border: 1px solid #E1E1E1;
}

.news_title1,.notice_title1,.program_title1 {
	background:url("../images/bar1.gif");
	padding-left:10px;
	font-size:16px;
	color:white;	
	height: 30px;
}

.news_content,.program_content {
	width: 95%;
	height: 220px;
	padding: 5px;
	margin-top: 8px;
	
}
.news_detail{
	height: 18px;
	line-height:18px;
	margin-top: 2px;
}

#news_content ul {
	width: 96%;
	height: 100%;
}
.news_content ul li{
	/*  border-bottom:1px dashed #b7b7b7;  */
}
#notice_content ul {
	width: 100%;
	height: 100%;
}
.list_title{
	float:left;
	width:59%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
}
.list_time {
    float: right;
    width:40%;
    font-size:14px;
    color: #999;
}
.cop_intro{
	width: 470px;
	height: 210px;
	padding:10px;
}
.cop_image{
	width: 180px;
	height: 210px;
	border: #C2BEC0 solid 2px;
	float: left;
}
.cop_content{
	width: 280px;
	height: 210px;
	float: right;
}
#intro_content{
	  position:relative;
	height:180px;
overflow:hidden;
	margin-top: 5px;
	border-bottom: #C2BEC0 dotted 2px;
	border-top: #C2BEC0 dotted 2px;
}
#intro_content::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:10px;
    right:0;
    padding:0 20px 0px 45px;
    background:url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
}
#news_type {
	width: 100px;
	background: url("asset/images/item_icon.gif") no-repeat center left; 
}

#notice_time {
	width: 85px;
	color: #0B2B4C;
	background: url("asset/images/item_icon.gif") no-repeat center left; 
}

#news_title {
	width: 245px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



#news_time {
	color: #666666;
}

#photo_title {
	width: 100%;
	height: 40px;
	background: url('asset/images/arrows.gif') no-repeat bottom left;
}
#news_photo{
	width: 90px;
	height:70px;
	border-color:green;
}
#content{
	width: 370px;
	height:70px;
	border-color:green;
	margin-left: 5px;
}

.dotted {
	border-top: 1px dotted #BFBFBF;
}
#contact {
	width: 230px;
	background: url("asset/images/item_icon.gif") no-repeat center left; 
	color: #666666;
}
#contact_main{
	width: 230px;
	background: url("asset/images/item_icon.gif") no-repeat center left; 
}
.button_div{
	margin-top:5px;
	background:url(../images/bar3.jpg);
	height:65px;
	border:1px solid #BFBFBF ;
	width:60%;
	text-align:center;
	font-size:20px;
	margin-right:10px;
	line-height:65px;
	color:#262626;
	float:right;	
}
.button_img_div{
	margin-top:5px;	
	height:65px;
	border:1px solid #BFBFBF ;
	width:78px;		
	color:#262626;
	float:left;
}




