OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#chat_f1 {
	FONT-SIZE: 12px
}
#chat_f2 {
	FONT-SIZE: 12px
}
#chat_f1 {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 93px; TOP: 125px; RIGHT: 10px; _position: absolute
}
#chat_f1_main {
	BACKGROUND: url(../images/kefu.png) no-repeat; HEIGHT: 110px
}
#close {
	WIDTH: 17px; DISPLAY: block; HEIGHT: 17px; MARGIN-LEFT: 76px; CURSOR: pointer
}
.a_kf {
	MARGIN: 0px 6px; WIDTH: 70px; DISPLAY: inline-block; HEIGHT: 20px
}
.a_sh {
	MARGIN: 0px 6px; WIDTH: 70px; DISPLAY: inline-block; HEIGHT: 20px
}
.a_kf {
	MARGIN-TOP: 65px
}
#chat_f1_bottom {
	WIDTH: 82px; BACKGROUND: url(../images/kefu.png) no-repeat 0px -160px; HEIGHT: 3px; OVERFLOW: hidden
}
.chat_f1_expr {
	WIDTH: 82px; HEIGHT: 0px; OVERFLOW: hidden;
}
.list {
	BORDER-BOTTOM: #dbdbdb 1px solid; 
	BORDER-LEFT: #dbdbdb 1px solid; 
	BACKGROUND: #fff; 
	HEIGHT: 25px;
	 COLOR: #787878;
	  OVERFLOW: hidden; 
	  BORDER-TOP: medium none;
	   BORDER-RIGHT: #dbdbdb 1px solid;
	   font-size: 12px;
}
.name {
	LINE-HEIGHT: 25px; CURSOR: pointer;   font-size: 12px;
}
.current {
	BORDER-LEFT-COLOR: #fff
}
.arrow {
	COLOR: #fff
}
.detail {
	Z-INDEX: 100; BORDER-BOTTOM: #dbdbdb 1px solid; POSITION: absolute; BORDER-LEFT: #dbdbdb 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px; MARGIN-TOP: -26px; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND: #fff; MARGIN-LEFT: -222px; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 10px
}
.mt {
	MARGIN: 2px 0px;
	FONT-SIZE:12px;
}
.mt5 {
	MARGIN-TOP: 5px
}
.chat_f1_expr .list .detail .border {
	POSITION: absolute; MARGIN-TOP: -10px; WIDTH: 1px; BACKGROUND: #fff; HEIGHT: 25px; MARGIN-LEFT: 210px
}
#chat_f2 {
	BACKGROUND-IMAGE: url(../images/kefu.png); Z-INDEX: 100; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 3px; WIDTH: 1em; PADDING-RIGHT: 3px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -92px 0px; COLOR: #999; BORDER-TOP: #ccc 1px solid; TOP: 230px; line-height:15px;CURSOR: pointer; RIGHT: 0px; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 19px; _position: absolute
}
