@CHARSET "UTF-8";
/*demo.css*/
.fz12{font-size:12px;}
.main{padding-bottom:60px; padding-top:36px;}
.main h1,
.main h2,
.main h3{padding-left:10px;}
.main h1{text-align:center;color: #212222; font-family: "microsoft yahei"; font-size: 36px; font-weight: normal; line-height: 2em; margin-bottom: 36px;}
.main h2{background-color:#eee; line-height:2!important;}
.main h3{font-size:20px; margin-bottom:10px;}
.lireset2{padding-left:10px;}
.registerform{margin-bottom:40px;}
.registerform .need{
	width:10px;
	color:#b20202;
}
.registerform td{
	padding:5px 0;
	vertical-align:top;
	text-align:left;
}
.registerform .inputxt,.registerform textarea{
	border:1px solid #a5aeb6;
	width:196px;
	padding:4px 2px;
}
.registerform textarea{
	height:75px;
}

.registerform .tip{
	line-height:20px;
	color:#5f6a72;
}
.registerform select{
	width:202px;
}
.registerformalter select{
	width:124px;
}
.swfupload{
	vertical-align:top;
}
.passwordStrength{

}
.passwordStrength b{
	font-weight:normal;
}
.passwordStrength b,.passwordStrength span{
	display:inline-block; 
	vertical-align:middle;
	line-height:16px;
	line-height:18px\9;
	height:16px;
}
.passwordStrength span{
	width:45px; 
	text-align:center; 
	background-color:#d0d0d0; 
	border-right:1px solid #fff;
}
.passwordStrength .last{
	border-right:none;
}
.passwordStrength .bgStrength{
	color:#fff;
	background-color:#71b83d;
}
#demo1 .passwordStrength{
	margin-left:8px;
}
.tipmsg{
	padding:0 10px;
}



.document{
	min-height:800px;
}
.document .sidenav{
	width:170px;
	background-color:#eee;
	padding:10px 10px 20px;
}
.document .sidenav h3{
	font-size:14px;
	padding:5px 10px;
	background-color:#e1e1e1;
}
.document .sidenav a{
	color:#1870a9;
}
.document .content{
	width:750px;
}
.document .content dt{
	background-color:#eee;
    line-height:2;
	padding:0 10px;
}
.document .content dt a{
	color:#79a605;
	padding:5px 0;
	font-size:20px;
	font-weight:bold;
	display:block;
}
.document .content dt a:hover,
.document .content h3 a:hover{text-decoration:none; cursor:default;}
.document .content dd{
	padding:15px 0;
}
.document .content h3{
	color:#333;
	font-size:16px;
}
.document .content p{
	padding:0 0 16px 10px;
	margin-bottom:0;
}
.document .content .intro{
	margin-bottom:16px;
}
.document .content .intro p{
	padding-bottom:0;
}
.document .content .intro pre{padding-left:10px;}
.document .content .wp_syntax{
	margin-left:10px;
	margin-right:10px;
}
.document .sidenav .lireset2{padding-left:0;}
.document .sidenav li ul{display:none;}

.toTop {
	display:block;
	width:48px;
	height:49px;
	overflow:hidden;
	text-indent:-20000px;
	position:fixed;
	right:15px;
	bottom:20px;
	display:none;
	background:url(../images/totop.png) no-repeat;
	_position:absolute;
	_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-20);
}

/*login.css*/

/*---------------------reset----------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0;}
ol, ul, li { list-style:none;
font-family: "微软雅黑"; } 
body { background:#FFF;}
:focus { outline:0 }
table { border-collapse:collapse; border-spacing:0 }
table,table td,table th{border:1px solid #edeada;border-collapse:collapse;}
address, cite, code, dfn, em, var, i { font-style:normal }
input[type=button], input[type=submit], button { cursor:pointer; outline:none;}
.input, select { vertical-align:middle }
* html .clearfix { zoom:1 }
*+html .clearfix { zoom:1 }
textarea{resize:none;}
a { text-decoration:none; color:#009bd8 }
.clearfix:after {clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}
.pos-r{ position:relative;}
.hide{ display:none;}
/*---------------------header----------------------*/

.header{ height: 84px;margin:26px auto; overflow: hidden; position: relative; width: 800px; z-index: 2;}
.headerNav { right: 0;text-align: right;top: 52px; width: 300px; position:absolute;}
.headerNav a{ color:#515151; font-size:12px; padding:0 2px;}
.headerNav a:hover{ text-decoration:underline; color:#658b98;}

/*---------------------banner----------------------*/
.banner{ min-width:1000px;  position:relative;  height:478px; overflow:hidden;  }
.banner .bd{ position:relative; z-index:0; }
.banner .bd ul{ width:1000px; margin: 0 auto;}
.banner .bd li{ width:1000px;  height:478px; }
.banner .bd li .siteWidth{ width:1000px; position:relative;  margin:0 auto;  height:299px;  }
.banner .bd li a{ height:299px; display:block;  }
.banner .bd .txt{ position:absolute; width:415px; top:100px; left:22px;   font:normal 18px/30px "Microsoft YaHei";    }
.banner-shadow{ height:50px; line-height:50px; background:url(../images/banner-shdow.png) repeat-x;}
.footer{text-align:center; font-size:12px; color:#999999;}
.login-aside{position:absolute; width:320px; height:380px; z-index:9999999; border-radius:5px; left:58%; top:40px;}


.error-box{
color:#f7ccc8;
font-size:12px;
margin-bottom:10px;
}


label.form-label {
    display: block;
    float: none;
    height: auto;
    line-height: 12px;
    text-align: left;
    width: auto;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 1px #4e6877;
	-o-text-shadow:1px 1px 1px #4e6877;
	-o-moz-shadow:1px 1px 1px #4e6877;
	-o-mis-shadow:1px 1px 1px #4e6877;
	-o-webkit-shadow:1px 1px 1px #4e6877;
	margin-top:16px;
	margin-bottom:16px;
}

#o-box-up,#o-box-down {
    width:320px;
    height:380px;
    position:absolute;
	border-radius:5px;

}
#o-box-up {
    background-color:#000;
    filter:alpha(opacity:40);
    opacity:0.4;
}
 
#o-box-down{ padding:30px 0 0 40px;}

.i-text{ 
  width:240px;
  height:37px;
  line-height:37px;
  border:1px solid #858585;
  background:#eef3f8;
  color:#9cb5cd;
  font-size:14px; 
  text-indent:12px; 
  box-shadow:1px 1px 1px #dfe4e8 inset;
  -moz-box-shadow:1px 1px 1px #dfe4e8 inset;
  -webkit-box-shadow:1px 1px 1px #dfe4e8 inset;
  -o-box-shadow:1px 1px 1px #dfe4e8 inset;
  -mis-box-shadow:1px 1px 1px #dfe4e8 inset;
 }
 
 .yzm{ width:112px;}
 .yzm-img{ position:absolute; left:130px; top:30px; cursor:pointer;height:35px;width:100px;}

.btn-login{ width:242px; height:38px; background:url(../images/login-btn.png) no-repeat; border:none; margin-top:5px;cursor: pointer;}




.h-light{
  border:1px solid #80acd9;
  background:#fff;
  color:#9cb5cd;
  font-size:14px; 
  text-indent:12px; 
  border-color: #0787be;
  box-shadow: 0 1px 4px rgba(11, 122, 179, 0.65) inset, 0 0 14px rgba(11, 122, 179, 0.45);

}

