#nav_left{
	width: 25%;
	height: 100%;
	background: #DADADA url("../images/left_bg.png") repeat-y center right;
}
#nav_left_title{
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CAC8C8; 
	background: url("../images/arrows.gif") no-repeat center left;
	text-align: left;
}
#nav_right{
	height: 50px;
	width: 100%;
	text-align: left;
}
#mav_left_title1{
	height: auto;
	width: 100%;
	border-top: 1px solid #D1CFCF; 
	text-align: left;
	
}
 #mav_left_title1 ul{
 	 	
 }
 #mav_left_title1 ul li{
 	height: 40px;
 	line-height: 40px;
 	padding-left: 30px;
 	
 }
  #mav_left_title1 ul li:hover{
 	background: url("../images/arrows_little.gif") no-repeat;
	background-position: 15px 15px;	
 }
 #mav_left_title1 ul li a{
 color: #133252; 
 }
 #content_right{
	width: 71%;
	padding:20px;
	height: 300px;
	
}
#content_right span, #content_right span a{
	color: #C7C7C7;
}
#content_right1{
	
	width: 100%;
	height: auto;
}
.actived_li{
	background: url('../images/arrows_little.gif') no-repeat;
	background-position: 15px 15px;
}