


/*example*/


.example2{}
.example2 ol{position:relative;width: 80px;height: 20px;top:-30px;left:860px;}
.example2 ol li{float:right;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example2 ol li.seleted{background: #1AA4CA;}