@charset "utf-8";
/* CSS Document */
html,*,body, div, ul,ol, li,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0;}
body{font-family:"微软雅黑", Arial, Helvetica, sans-serif;line-height:25px;font-size:14px;background:#fff;}
img{vertical-align:middle;}
em{font-style:normal;}
a img, :link img, :visited img{border:0;}
a:link, a:visited{text-decoration:none;color:#666666;}
a:hover,a:focus{text-decoration:underline;color:#0573bd;text-decoration:none;}
ul, ul li{list-style-type:none;}

#header_logo {
height: 118px;

}
#header_logo .logo {
/* background-image: url("../images/header_logo.gif");  */
background-position: left center;
background-repeat: no-repeat;
height: 100%;
}
.autom {
width: 1000px;
margin: 0 auto;
}

#header_link {
height: 40px;
line-height: 40px;
background-color: #DDDEE0;
}
.nav_bg{width : 1000px; margin: 0 auto;}

/*.nav_z{width:auto!important;height:40px;float:left;position:relative;z-index:999 ;}*/

#navul {float : left}
#navul li{
	float:left;width:90px;height:40px;position:relative;text-align:center;line-height:40px;z-index: 10
	}
#navul li a:link, #navul li a:visited{color:#000;font-weight:500;letter-spacing:2px;display: block;}
#navul li ul{display:none;position:absolute;z-index:999;background:#fff;/* background:#FADB4C; */border:#c6c6c6 1px solid;border-bottom:none;left:-1px;}
#navul li ul li{display:block;width:90px;float:none;height:35px;position:relative;line-height:35px;border-bottom:#C6C6C6 1px solid;font-size:12px;overflow:hidden}
#navul li.navmoon{background:#929091;border:#C6C6C6 1px solid;width:90px;height:38px;line-height:38px;}
#navul li.navmoon a{color:#404a58;}
#navul li.navhome a:hover{color:#FCFF00;}
#navul li.navmoon ul{display:block;}
#navul li.navmoon ul a{display:block;width:90px;height:35px;line-height:35px;}
#navul li.navmoon ul a:hover{color:#929091;background:#fff;}

.bg{
	background-color: #eeeeee;
}
.left {
	float: left;
}

.right {
	float: right;
}